body {
  font-size: 1.7em;
  font-family: Georgia, serif;
}

.circle {
  color: #888;
  background: white;
  border: 2px solid #888;
  border-radius: 100px;
  padding: 10px 11px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 1.8em;
}

.circle:hover {
  background: #ddd;
}

img {
  max-width: 100%;
}

#content {
  padding: 20px;
  padding-top: 50px;
  text-align: center;
}

h2, h1 {
  font-style: italic;
}

label {
  font-weight: normal;
}

option {
  font-size: 2em;
}

textarea {
}

blockquote#quote {
  font-style: italic;
  font-size: 1.4em;
  border: none;
  text-align: center;
}

.profile-picture {
  background: #ddd;
  width: 300px;
  height: 300px;
}

textarea {
  font-size: 16px;
}

footer {
  padding: 20px;
}
